<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" />
  <package id="Microsoft.Bcl.Build" version="1.0.4" />
  <package id="NuGet.Core" version="2.14.0" />
  <package id="psake" version="4.6.0" />
</packages>