<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xunit.runner.console" version="2.0.0" />
  <package id="Microsoft.Bcl" version="1.1.7" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" />
  <package id="Microsoft.Bcl.Build" version="1.0.4" />
  <package id="OpenCover" version="4.6.166" />
  <package id="OpenCoverToCoberturaConverter" version="0.2.4" />
  <package id="ReportGenerator" version="2.3.4" />
</packages>